<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249070663581-qjj883p9pp1d8fj39r67lm0s95t0oafo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249070663581-qjj883p9pp1d8fj39r67lm0s95t0oafo</string>
	<key>API_KEY</key>
	<string>AIzaSyC2sG3AWlorl6gArmtlhZWCMaqocvk4lBc</string>
	<key>GCM_SENDER_ID</key>
	<string>249070663581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.denizdemirtas.RestaurantReviewApp</string>
	<key>PROJECT_ID</key>
	<string>restaurantprojectapp-c1c74</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantprojectapp-c1c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249070663581:ios:eac5e04337b890f9162174</string>
</dict>
</plist>